@charset "UTF-8";
/* — - - - VARIABLES ARE HERE — - - -  */
/* NORMAL
$primary-color: rgb(25, 25, 25);
$secondary-color: rgb(240, 240, 240);
*/
/* INVERSE
$primary-color: rgb(240, 240, 240);
$secondary-color: rgb(25, 25, 25);
*/
/* PINK & BLUE
$primary-color: Pink;
$secondary-color: MidnightBlue;
*/
/* PINK & BLUE INVERSE
$primary-color: MidnightBlue;
$secondary-color: Pink;
*/
/* YELLOWORANGE & BLUE
$primary-color: Orange;
$secondary-color: MidnightBlue;
*/
/* TOMATO AND WHITE
$primary-color: White;
$secondary-color: Tomato;
*/
/* UBANK
$primary-color: #008228;
$secondary-color: White;
*/
/* MATTER
$primary-color: rgb(0, 0, 145);
$secondary-color: White;
*/
#bio {
  height: 100vh;
  width: calc(50vw + 3rem);
  position: fixed;
  z-index: 50;
  background: #191919;
  float: right;
  padding: 14.25rem 4rem 3rem 4rem;
  transition: 0.3s; }

.closed {
  right: calc(-50vw - 4em); }

.open {
  right: 0; }

.cv {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6rem;
  padding-right: 4rem; }

.title {
  flex: 1;
  margin-bottom: 4rem;
  min-width: 100px; }

.cv ul {
  display: flex;
  flex-direction: column;
  flex: 2;
  min-width: 300px; }

.cv li {
  flex: 1; }

.cv li:nth-child(even) {
  margin-bottom: 2rem; }
