@charset "UTF-8";
/* — - - - VARIABLES ARE HERE — - - -  */
/* NORMAL
$primary-color: rgb(25, 25, 25);
$secondary-color: rgb(240, 240, 240);
*/
/* INVERSE
$primary-color: rgb(240, 240, 240);
$secondary-color: rgb(25, 25, 25);
*/
/* PINK & BLUE
$primary-color: Pink;
$secondary-color: MidnightBlue;
*/
/* PINK & BLUE INVERSE
$primary-color: MidnightBlue;
$secondary-color: Pink;
*/
/* YELLOWORANGE & BLUE
$primary-color: Orange;
$secondary-color: MidnightBlue;
*/
/* TOMATO AND WHITE
$primary-color: White;
$secondary-color: Tomato;
*/
/* UBANK
$primary-color: #008228;
$secondary-color: White;
*/
/* MATTER
$primary-color: rgb(0, 0, 145);
$secondary-color: White;
*/
/* — - - - FILTER STYLES HERE — - - -  */
#filters {
  display: flex;
  flex-wrap: wrap;
  padding-right: 2rem;
  z-index: 1; }

#sort {
  width: 32.5%; }

#filters ul {
  display: flex;
  flex-wrap: nowrap;
  flex: 2; }

#filters li:last-child {
  flex: 2; }

#filters li {
  flex: 1;
  min-width: 80px; }

.discipline {
  cursor: pointer; }

#disiplineFilters {
  display: flex;
  flex-wrap: wrap;
  padding-right: 2rem;
  min-width: 200px; }

#disiplineFilters ul {
  display: inline-flex;
  flex-wrap: wrap;
  flex: 2;
  margin: 1rem 0 0 32.5%; }

#disiplineFilters li {
  padding-right: 5px; }

#disiplineFilters li:last-child {
  padding-right: 0px; }

.hide {
  opacity: 0;
  transform: translateY(-100%);
  transition: 0.3s;
  z-index: -1; }

.show {
  opacity: 1;
  transform: translateY(0%);
  z-index: 2; }
