@charset "UTF-8";
/* — - - - VARIABLES ARE HERE — - - -  */
/* NORMAL
$primary-color: rgb(25, 25, 25);
$secondary-color: rgb(240, 240, 240);
*/
/* INVERSE
$primary-color: rgb(240, 240, 240);
$secondary-color: rgb(25, 25, 25);
*/
/* PINK & BLUE
$primary-color: Pink;
$secondary-color: MidnightBlue;
*/
/* PINK & BLUE INVERSE
$primary-color: MidnightBlue;
$secondary-color: Pink;
*/
/* YELLOWORANGE & BLUE
$primary-color: Orange;
$secondary-color: MidnightBlue;
*/
/* TOMATO AND WHITE
$primary-color: White;
$secondary-color: Tomato;
*/
/* UBANK
$primary-color: #008228;
$secondary-color: White;
*/
/* MATTER
$primary-color: rgb(0, 0, 145);
$secondary-color: White;
*/
/* — - - - FOOTER STYLES HERE — - - -  */
footer {
  display: flex;
  flex: 1;
  align-items: flex-end;
  padding: 16rem 4rem 4rem 4rem;
  background: #f0f0f0; }

#footerContact {
  flex-basis: 50%;
  margin-left: auto; }
