@charset "UTF-8";
/* — - - - VARIABLES ARE HERE — - - -  */
/* NORMAL
$primary-color: rgb(25, 25, 25);
$secondary-color: rgb(240, 240, 240);
$tertiary-color: rgb(0, 0, 0);
*/
/* INVERSE
$primary-color: rgb(240, 240, 240);
$secondary-color: rgb(25, 25, 25);
$tertiary-color: rgb(200, 200, 200);
*/
/* PINK & BLUE
$primary-color: Pink;
$secondary-color: MidnightBlue;
*/
/* PINK & BLUE INVERSE
$primary-color: MidnightBlue;
$secondary-color: Pink;
*/
/* YELLOWORANGE & BLUE
$primary-color: Orange;
$secondary-color: MidnightBlue;
*/
/* TOMATO AND WHITE
$primary-color: White;
$secondary-color: Tomato;
*/
/* UBANK
$primary-color: #008228;
$secondary-color: White;
*/
/* MATTER
$primary-color: rgb(0, 0, 145);
$secondary-color: White;
*/
/* — - - - NAV STYLES HERE — - - -  */
#header {
  padding: 2rem 4rem 0 4rem;
  z-index: 100;
  position: absolute;
  width: 100%; }

#headerFlex {
  display: flex;
  flex-direction: row; }

#formTitle {
  flex: 0  50%; }

#navigation {
  flex: 0  50%; }

#navigation ul {
  display: flex; }

#navigation li {
  flex: 1; }

.black {
  transition-delay: 0.2s;
  transition: 0.2s;
  color: #141414; }

a:hover.upside {
  display: inline-block;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  unicode-bidi: bidi-override;
  direction: rtl; }

a:hover.backwards {
  display: inline-block;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg); }

a:hover.flip {
  unicode-bidi: bidi-override;
  direction: rtl; }
