@charset "UTF-8";
/* — - - - VARIABLES ARE HERE — - - -  */
/* NORMAL
$primary-color: rgb(25, 25, 25);
$secondary-color: rgb(240, 240, 240);
*/
/* INVERSE
$primary-color: rgb(240, 240, 240);
$secondary-color: rgb(25, 25, 25);
*/
/* PINK & BLUE
$primary-color: Pink;
$secondary-color: MidnightBlue;
*/
/* PINK & BLUE INVERSE
$primary-color: MidnightBlue;
$secondary-color: Pink;
*/
/* YELLOWORANGE & BLUE
$primary-color: Orange;
$secondary-color: MidnightBlue;
*/
/* TOMATO AND WHITE
$primary-color: White;
$secondary-color: Tomato;
*/
/* UBANK
$primary-color: #008228;
$secondary-color: White;
*/
/* MATTER
$primary-color: rgb(0, 0, 145);
$secondary-color: White;
*/
/* — - - - IMAGE LAYOUT FOR PROJECT PAGE HERE — - - -  */
.image_layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 12rem; }

.full-image {
  flex: 0 0 100vw;
  width: 100vw;
  margin-bottom: 4rem; }

.full-image img,
.big-image img,
.left-image img,
.right-image img {
  width: 100%; }

.big-image {
  flex: 0 100%;
  margin: 0 4rem 0 4rem;
  margin-bottom: 2rem; }

.left-image,
.right-image,
.left-image-solo,
.right-image-solo {
  flex: 0 calc(50% - 5rem);
  min-width: 300px;
  margin-bottom: 2rem;
  z-index: 1000; }

.left-image,
.left-image-solo {
  margin: 0 2rem 2rem 4rem; }

.right-image,
.right-image-solo {
  margin: 0 4rem 2rem 0rem; }

.right-image {
  margin-left: auto; }

.left-image-solo {
  margin-right: calc(50% + 1rem); }

.right-image-solo {
  margin-left: calc(50% + 1rem); }

/* — - - - DIGITAL IMAGES WITH DROP SHADOW STYLING — - - -  */
.digital-image {
  background: #c8c8c8;
  padding: 4vw; }

.digital-image img {
  box-shadow: 0px 5px 50px -10px rgba(0, 0, 0, 0.5); }

/* — - - - SIDE DISCIPLINES NAV — - - -  */
.sideDisciplines {
  position: fixed;
  right: -220px;
  /* –– 1/2 width -some space on the side -  */
  top: 50vh;
  height: 20px;
  width: 400px;
  text-align: center;
  font-style: italic;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transition: .2s ease-in-out; }

.sideDisciplines li {
  display: inline-block; }

.disciplines li:hover {
  cursor: pointer; }

.appear {
  right: -180px; }
