@charset "UTF-8";
/* — - - - VARIABLES ARE HERE — - - -  */
/* COOL CCOLOR MIXES HERE
$black: pink !global;
$white: blue !global;
*/
/* —  DODGY FONT DONT USE, RMEMEBR TO SWAP FOR LEGIT VERSION
@font-face {
	font-family: 'Univers56';
	src: url('../font/UniversBQ-Italic.eot');
	src: url('../font/UniversBQ-Italic.eot?#iefix') format('embedded-opentype'),
		url('../font/UniversBQ-Italic.woff') format('woff'),
		url('../font/UniversBQ-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
-  */
/* — - - - INTRO AND DETAILS  LAYOUT FOR PROJECT PAGE COPY HERE — - - -  */
.projectDetails {
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
  margin-bottom: 10rem; }

.projectTitle {
  flex: 1;
  margin-bottom: 6rem;
  padding-left: 4rem;
  text-align: center; }

.projectAppendix {
  display: flex;
  flex-direction: row-reverse;
  margin: -6rem 4rem 10rem 4rem; }

.details {
  display: flex;
  flex-direction: row;
  flex: 0 50%; }

.details ul {
  flex: 2; }

.nextPrevious {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0 4rem 6rem 4rem; }

.next, .previous {
  flex: 0 0 50%; }
