@charset "UTF-8";
/* — - - - VARIABLES ARE HERE — - - -  */
/* NORMAL
$primary-color: rgb(25, 25, 25);
$secondary-color: rgb(240, 240, 240);
*/
/* INVERSE
$primary-color: rgb(240, 240, 240);
$secondary-color: rgb(25, 25, 25);
*/
/* PINK & BLUE
$primary-color: Pink;
$secondary-color: MidnightBlue;
*/
/* PINK & BLUE INVERSE
$primary-color: MidnightBlue;
$secondary-color: Pink;
*/
/* YELLOWORANGE & BLUE
$primary-color: Orange;
$secondary-color: MidnightBlue;
*/
/* TOMATO AND WHITE
$primary-color: White;
$secondary-color: Tomato;
*/
/* UBANK
$primary-color: #008228;
$secondary-color: White;
*/
/* MATTER
$primary-color: rgb(0, 0, 145);
$secondary-color: White;
*/
/* — - - - INTRO AND DETAILS  LAYOUT FOR PROJECT PAGE COPY HERE — - - -  */
.projectDetails {
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
  margin-bottom: 10rem; }

.projectTitle {
  flex: 1;
  margin-bottom: 6rem;
  padding-left: 4rem;
  text-align: center; }

.projectAppendix {
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem 4rem 10rem 4rem;
  margin-top: -6rem;
  background: #f0f0f0;
  z-index: 1; }

.details {
  display: flex;
  flex-direction: row;
  flex: 0 50%; }

.details ul {
  flex: 2; }

.nextPrevious {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0 4rem 6rem 4rem;
  background: #f0f0f0;
  z-index: 1; }

.next, .previous {
  flex: 0 0 50%; }
