@charset "UTF-8";
/* — - - - IMPORTS HERE — - - -  */
/* — - - - VARIABLES ARE HERE — - - -  */
/* NORMAL
$primary-color: rgb(25, 25, 25);
$secondary-color: rgb(240, 240, 240);
*/
/* INVERSE
$primary-color: rgb(240, 240, 240);
$secondary-color: rgb(25, 25, 25);
*/
/* PINK & BLUE
$primary-color: Pink;
$secondary-color: MidnightBlue;
*/
/* PINK & BLUE INVERSE
$primary-color: MidnightBlue;
$secondary-color: Pink;
*/
/* YELLOWORANGE & BLUE
$primary-color: Orange;
$secondary-color: MidnightBlue;
*/
/* TOMATO AND WHITE
$primary-color: White;
$secondary-color: Tomato;
*/
/* UBANK
$primary-color: #008228;
$secondary-color: White;
*/
/* MATTER
$primary-color: rgb(0, 0, 145);
$secondary-color: White;
*/
* {
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: normal; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit;
  /* transition: .1s; */ }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle; }

/* — - - - BASE STYLES HERE — - - -  */
html {
  font-size: 62.5%; }

body {
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: "Univers55",  helvetica;
  background: #f0f0f0;
  color: #191919; }

@font-face {
  font-family: 'Univers55';
  src: url("../font/UniversLTStd.eot");
  src: url("../font/UniversLTStd?#iefix") format("embedded-opentype"), url("../font/UniversLTStd.woff") format("woff"), url("../font/UniversLTStd.ttf") format("truetype");
  font-weight: normal;
  font-style: none; }

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  /* — — — to hide image overflow on hover  - - - */ }

.underline {
  border-bottom: 1px solid; }

::-moz-selection {
  color: #000;
  background-color: rgba(255, 255, 255, 0.99); }

img::-moz-selection {
  color: #000;
  background-color: rgba(255, 255, 255, 0.7); }

::selection {
  color: #000;
  background-color: rgba(255, 255, 255, 0.99); }

img::selection {
  color: #000;
  background-color: rgba(255, 255, 255, 0.7); }

/* -img {
  filter: grayscale(100%);
} - */
p {
  text-indent: 6rem; }

/* — - - - GLOBAL BLACK CHANGES  HERE — - - -  */
/* — - - - VARIABLES ARE HERE — - - -  */
/* NORMAL
$primary-color: rgb(25, 25, 25);
$secondary-color: rgb(240, 240, 240);
*/
/* INVERSE
$primary-color: rgb(240, 240, 240);
$secondary-color: rgb(25, 25, 25);
*/
/* PINK & BLUE
$primary-color: Pink;
$secondary-color: MidnightBlue;
*/
/* PINK & BLUE INVERSE
$primary-color: MidnightBlue;
$secondary-color: Pink;
*/
/* YELLOWORANGE & BLUE
$primary-color: Orange;
$secondary-color: MidnightBlue;
*/
/* TOMATO AND WHITE
$primary-color: White;
$secondary-color: Tomato;
*/
/* UBANK
$primary-color: #008228;
$secondary-color: White;
*/
/* MATTER
$primary-color: rgb(0, 0, 145);
$secondary-color: White;
*/
/* — - - - NAV STYLES HERE — - - -  */
#header {
  padding: 2rem 4rem 0 4rem;
  z-index: 100;
  position: absolute;
  width: 100%; }

#headerFlex {
  display: flex;
  flex-direction: row; }

#formTitle {
  flex: 0  50%; }

#navigation {
  flex: 0  50%; }

#navigation ul {
  display: flex; }

#navigation li {
  flex: 1; }

.black {
  transition-delay: 0.2s;
  transition: 0.2s;
  color: #f0f0f0; }

a:hover.upside {
  display: inline-block;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  unicode-bidi: bidi-override;
  direction: rtl; }

a:hover.backwards {
  display: inline-block;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg); }

a:hover.flip {
  unicode-bidi: bidi-override;
  direction: rtl; }

/* — - - - VARIABLES ARE HERE — - - -  */
/* NORMAL
$primary-color: rgb(25, 25, 25);
$secondary-color: rgb(240, 240, 240);
*/
/* INVERSE
$primary-color: rgb(240, 240, 240);
$secondary-color: rgb(25, 25, 25);
*/
/* PINK & BLUE
$primary-color: Pink;
$secondary-color: MidnightBlue;
*/
/* PINK & BLUE INVERSE
$primary-color: MidnightBlue;
$secondary-color: Pink;
*/
/* YELLOWORANGE & BLUE
$primary-color: Orange;
$secondary-color: MidnightBlue;
*/
/* TOMATO AND WHITE
$primary-color: White;
$secondary-color: Tomato;
*/
/* UBANK
$primary-color: #008228;
$secondary-color: White;
*/
/* MATTER
$primary-color: rgb(0, 0, 145);
$secondary-color: White;
*/
/* — - - - NAV STYLES HERE — - - -  */
header {
  padding: 2rem 4rem 0 4rem;
  z-index: 100;
  position: absolute;
  width: 100%; }

#headerFlex {
  display: flex;
  flex-direction: row; }

#title {
  flex: 0  50%; }

nav {
  flex: 0  50%; }

nav ul {
  display: flex; }

nav li {
  flex: 1;
  cursor: pointer; }

.black {
  transition-delay: 0.2s;
  transition: 0.2s;
  color: #f0f0f0; }

.black a:hover {
  border-bottom: 1px solid #f0f0f0; }

a:hover.upside {
  display: inline-block;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  unicode-bidi: bidi-override;
  direction: rtl; }

a:hover.backwards {
  display: inline-block;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg); }

a:hover.flip {
  unicode-bidi: bidi-override;
  direction: rtl; }

/* — - - - VARIABLES ARE HERE — - - -  */
/* NORMAL
$primary-color: rgb(25, 25, 25);
$secondary-color: rgb(240, 240, 240);
*/
/* INVERSE
$primary-color: rgb(240, 240, 240);
$secondary-color: rgb(25, 25, 25);
*/
/* PINK & BLUE
$primary-color: Pink;
$secondary-color: MidnightBlue;
*/
/* PINK & BLUE INVERSE
$primary-color: MidnightBlue;
$secondary-color: Pink;
*/
/* YELLOWORANGE & BLUE
$primary-color: Orange;
$secondary-color: MidnightBlue;
*/
/* TOMATO AND WHITE
$primary-color: White;
$secondary-color: Tomato;
*/
/* UBANK
$primary-color: #008228;
$secondary-color: White;
*/
/* MATTER
$primary-color: rgb(0, 0, 145);
$secondary-color: White;
*/
/* — - - - INTRO AND DETAILS  LAYOUT FOR PROJECT PAGE COPY HERE — - - -  */
.projectDetails {
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
  margin-bottom: 10rem; }

.projectTitle {
  flex: 1;
  margin-bottom: 6rem;
  padding-left: 4rem;
  text-align: center; }

.projectAppendix {
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem 4rem 10rem 4rem;
  margin-top: -6rem;
  background: #f0f0f0;
  z-index: 1; }

.details {
  display: flex;
  flex-direction: row;
  flex: 0 50%; }

.details ul {
  flex: 2; }

.nextPrevious {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0 4rem 6rem 4rem;
  background: #f0f0f0;
  z-index: 1; }

.next, .previous {
  flex: 0 0 50%; }

/* — - - - VARIABLES ARE HERE — - - -  */
/* NORMAL
$primary-color: rgb(25, 25, 25);
$secondary-color: rgb(240, 240, 240);
*/
/* INVERSE
$primary-color: rgb(240, 240, 240);
$secondary-color: rgb(25, 25, 25);
*/
/* PINK & BLUE
$primary-color: Pink;
$secondary-color: MidnightBlue;
*/
/* PINK & BLUE INVERSE
$primary-color: MidnightBlue;
$secondary-color: Pink;
*/
/* YELLOWORANGE & BLUE
$primary-color: Orange;
$secondary-color: MidnightBlue;
*/
/* TOMATO AND WHITE
$primary-color: White;
$secondary-color: Tomato;
*/
/* UBANK
$primary-color: #008228;
$secondary-color: White;
*/
/* MATTER
$primary-color: rgb(0, 0, 145);
$secondary-color: White;
*/
#bio {
  height: 100vh;
  width: calc(50vw + 3rem);
  position: fixed;
  z-index: 50;
  background: #191919;
  float: right;
  padding: 14.25rem 4rem 3rem 4rem;
  transition: 0.3s; }

.closed {
  right: calc(-50vw - 4em); }

.open {
  right: 0; }

.cv {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6rem;
  padding-right: 4rem; }

.title {
  flex: 1;
  margin-bottom: 4rem;
  min-width: 100px; }

.cv ul {
  display: flex;
  flex-direction: column;
  flex: 2;
  min-width: 300px; }

.cv li {
  flex: 1; }

.cv li:nth-child(even) {
  margin-bottom: 2rem; }

/* — - - - VARIABLES ARE HERE — - - -  */
/* NORMAL
$primary-color: rgb(25, 25, 25);
$secondary-color: rgb(240, 240, 240);
*/
/* INVERSE
$primary-color: rgb(240, 240, 240);
$secondary-color: rgb(25, 25, 25);
*/
/* PINK & BLUE
$primary-color: Pink;
$secondary-color: MidnightBlue;
*/
/* PINK & BLUE INVERSE
$primary-color: MidnightBlue;
$secondary-color: Pink;
*/
/* YELLOWORANGE & BLUE
$primary-color: Orange;
$secondary-color: MidnightBlue;
*/
/* TOMATO AND WHITE
$primary-color: White;
$secondary-color: Tomato;
*/
/* UBANK
$primary-color: #008228;
$secondary-color: White;
*/
/* MATTER
$primary-color: rgb(0, 0, 145);
$secondary-color: White;
*/
/* — - - - INTRO STYLES FOR HOMEPAGE HERE — - - -  */
section {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-top: 10rem;
  margin-bottom: 10rem; }

.intro {
  flex: 1;
  margin-bottom: 6rem;
  padding-right: 4rem; }

/* — - - - PROJECTS STYLES HERE — - - -  */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative; }

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 0 calc(25% - 8rem);
  text-align: center;
  margin: 0 4rem 2rem 4rem;
  /*padding: 3rem 1rem 3rem 1rem;*/
  min-width: 20rem;
  min-height: 17.5rem;
  position: relative;
  transition: opacity .2s ease-in-out; }

.projectImage {
  position: absolute;
  width: 40vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: -10; }

.projectImage img {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .15s ease-in-out;
  opacity: 0; }

.projectText li {
  display: inline;
  font-style: italic; }

/* — - - - PROJECTS HOVER STYLES HERE — - - -  */
.active:hover {
  cursor: pointer; }

li.image_holder {
  position: absolute;
  width: 40vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: -10; }

li.image_holder img {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .15s ease-in-out;
  opacity: 0; }

.projectText li:hover + li.image_holder img {
  visibility: visible;
  opacity: 1; }

.project.dimmed .projectText li:hover + li.image_holder img {
  display: none;
  opacity: 0; }

/*.active:hover > .projectImage img:nth-child(1) {
  visibility: visible;
  opacity: 1;
}*/
.projectText:hover + .projectImage img {
  opacity: 1; }

.active > .projectText, .project:hover {
  z-index: 1; }

.dimmed:hover {
  cursor: default; }

.dimmed a:hover {
  cursor: default;
  border: none; }

.dimmed:hover > .projectImage img:nth-child(1) {
  display: none;
  cursor: default; }

.dimmed {
  opacity: 0.1; }

.dimmed img {
  display: none;
  visibility: hidden; }

/* — - - - VARIABLES ARE HERE — - - -  */
/* NORMAL
$primary-color: rgb(25, 25, 25);
$secondary-color: rgb(240, 240, 240);
*/
/* INVERSE
$primary-color: rgb(240, 240, 240);
$secondary-color: rgb(25, 25, 25);
*/
/* PINK & BLUE
$primary-color: Pink;
$secondary-color: MidnightBlue;
*/
/* PINK & BLUE INVERSE
$primary-color: MidnightBlue;
$secondary-color: Pink;
*/
/* YELLOWORANGE & BLUE
$primary-color: Orange;
$secondary-color: MidnightBlue;
*/
/* TOMATO AND WHITE
$primary-color: White;
$secondary-color: Tomato;
*/
/* UBANK
$primary-color: #008228;
$secondary-color: White;
*/
/* MATTER
$primary-color: rgb(0, 0, 145);
$secondary-color: White;
*/
/* — - - - FILTER STYLES HERE — - - -  */
#filters {
  display: flex;
  flex-wrap: wrap;
  padding-right: 2rem;
  z-index: 1; }

#sort {
  width: 32.5%; }

#filters ul {
  display: flex;
  flex-wrap: nowrap;
  flex: 2; }

#filters li:last-child {
  flex: 2; }

#filters li {
  flex: 1;
  min-width: 80px; }

.discipline {
  cursor: pointer; }

#disiplineFilters {
  display: flex;
  flex-wrap: wrap;
  padding-right: 2rem;
  min-width: 200px; }

#disiplineFilters ul {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  margin: 1rem 0 0 32.5%; }

#disiplineFilters li {
  flex: 0;
  padding-right: 5px; }

.hide {
  opacity: 0;
  transform: translateY(-100%);
  transition: 0.3s;
  z-index: -1; }

.show {
  opacity: 1;
  transform: translateY(0%);
  z-index: 2; }

/* — - - - VARIABLES ARE HERE — - - -  */
/* NORMAL
$primary-color: rgb(25, 25, 25);
$secondary-color: rgb(240, 240, 240);
*/
/* INVERSE
$primary-color: rgb(240, 240, 240);
$secondary-color: rgb(25, 25, 25);
*/
/* PINK & BLUE
$primary-color: Pink;
$secondary-color: MidnightBlue;
*/
/* PINK & BLUE INVERSE
$primary-color: MidnightBlue;
$secondary-color: Pink;
*/
/* YELLOWORANGE & BLUE
$primary-color: Orange;
$secondary-color: MidnightBlue;
*/
/* TOMATO AND WHITE
$primary-color: White;
$secondary-color: Tomato;
*/
/* UBANK
$primary-color: #008228;
$secondary-color: White;
*/
/* MATTER
$primary-color: rgb(0, 0, 145);
$secondary-color: White;
*/
/* — - - - IMAGE LAYOUT FOR PROJECT PAGE HERE — - - -  */
.image_layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 12rem; }

.full-image {
  flex: 0 0 100vw;
  width: 100vw;
  margin-bottom: 4rem; }

.full-image img,
.big-image img,
.left-image img,
.right-image img {
  width: 100%; }

.big-image {
  flex: 0 0 100%;
  padding: 0 4rem 0 4rem;
  margin-bottom: 2rem; }

.left-image,
.right-image {
  flex: 0 calc(50% - 5rem);
  min-width: 300px;
  margin-bottom: 2rem; }

.left-image {
  margin: 0 1rem 2rem 4rem; }

.right-image {
  margin: 0 4rem 2rem 1rem;
  margin-left: auto; }

/* — - - - DIGITAL IMAGES WITH DROP SHADOW STYLING — - - -  */
.digital-image {
  background: #c8c8c8;
  padding: 5%; }

.digital-image img {
  box-shadow: 0px 5px 50px -10px rgba(0, 0, 0, 0.5); }

/* — - - - SIDE DISCIPLINES NAV — - - -  */
.sideDisciplines {
  position: fixed;
  right: -220px;
  /* –– 1/2 width -some space on the side -  */
  top: 50vh;
  height: 20px;
  width: 400px;
  text-align: center;
  font-style: italic;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transition: .2s ease-in-out; }

.sideDisciplines li {
  display: inline-block; }

.disciplines li:hover {
  border-bottom: 1px solid #191919;
  cursor: pointer; }

.appear {
  right: -160px; }

/* — - - - VARIABLES ARE HERE — - - -  */
/* NORMAL
$primary-color: rgb(25, 25, 25);
$secondary-color: rgb(240, 240, 240);
*/
/* INVERSE
$primary-color: rgb(240, 240, 240);
$secondary-color: rgb(25, 25, 25);
*/
/* PINK & BLUE
$primary-color: Pink;
$secondary-color: MidnightBlue;
*/
/* PINK & BLUE INVERSE
$primary-color: MidnightBlue;
$secondary-color: Pink;
*/
/* YELLOWORANGE & BLUE
$primary-color: Orange;
$secondary-color: MidnightBlue;
*/
/* TOMATO AND WHITE
$primary-color: White;
$secondary-color: Tomato;
*/
/* UBANK
$primary-color: #008228;
$secondary-color: White;
*/
/* MATTER
$primary-color: rgb(0, 0, 145);
$secondary-color: White;
*/
.relatedProjects {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 6rem 0;
  background: #191919;
  color: #f0f0f0; }

.relatedProjects h3 {
  margin-bottom: 5rem;
  padding-left: 4rem; }

.projectSlider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.projectTile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 2rem;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.projectTile:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

.projectTile:nth-of-type(1) {
  margin-left: 0rem; }

.projectThumb {
  margin-bottom: 0rem; }

.projectTextOverlay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #f0f0f0;
  color: #191919;
  transform: translateY(0);
  transition: .2s ease-in-out;
  opacity: 0; }

.projectTile:hover > .projectTextOverlay {
  transform: translateY(0);
  opacity: 1; }

.projectTextOverlay li {
  display: inline;
  font-style: italic; }

.fixed {
  position: absolute; }

/* — - - - CUSTOM OWL SLIDER STYLES HERE — - - -  */
.owl-next, .owl-prev {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  width: 5%;
  background: #191919;
  opacity: 0;
  transition: .2s ease-in-out;
  /* — - - - FIX FOR BLURRY ROTATED TEXT IN CHROME — - - -  */
  -webkit-transform: translateZ(0) scale(1, 1); }

.owl-prev div {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg); }

.owl-next div {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg); }

.owl-next {
  right: 0; }

.owl-next.disabled {
  transform: translateX(100%); }

.owl-next.disabled:hover {
  transform: translateX(100%); }

.owl-prev.disabled {
  transform: translateX(-100%); }

.owl-prev.disabled:hover {
  transform: translateX(-100%); }

.owl-next:hover, .owl-prev:hover {
  opacity: 1; }

/* — - - - VARIABLES ARE HERE — - - -  */
/* NORMAL
$primary-color: rgb(25, 25, 25);
$secondary-color: rgb(240, 240, 240);
*/
/* INVERSE
$primary-color: rgb(240, 240, 240);
$secondary-color: rgb(25, 25, 25);
*/
/* PINK & BLUE
$primary-color: Pink;
$secondary-color: MidnightBlue;
*/
/* PINK & BLUE INVERSE
$primary-color: MidnightBlue;
$secondary-color: Pink;
*/
/* YELLOWORANGE & BLUE
$primary-color: Orange;
$secondary-color: MidnightBlue;
*/
/* TOMATO AND WHITE
$primary-color: White;
$secondary-color: Tomato;
*/
/* UBANK
$primary-color: #008228;
$secondary-color: White;
*/
/* MATTER
$primary-color: rgb(0, 0, 145);
$secondary-color: White;
*/
/* — - - - FOOTER STYLES HERE — - - -  */
footer {
  display: flex;
  flex: 1;
  align-items: flex-end;
  padding: 16rem 4rem 4rem 4rem;
  background: #f0f0f0; }

#footerContact {
  flex-basis: 50%;
  margin-left: auto; }
