@charset "UTF-8";
/* — - - - IMPORTS HERE — - - -  */
/* — - - - VARIABLES ARE HERE — - - -  */
/* COOL CCOLOR MIXES HERE
$black: pink !global;
$white: blue !global;
*/
/* —  DODGY FONT DONT USE, RMEMEBR TO SWAP FOR LEGIT VERSION
@font-face {
	font-family: 'Univers56';
	src: url('../font/UniversBQ-Italic.eot');
	src: url('../font/UniversBQ-Italic.eot?#iefix') format('embedded-opentype'),
		url('../font/UniversBQ-Italic.woff') format('woff'),
		url('../font/UniversBQ-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
-  */
* {
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: normal; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit;
  /* transition: .1s; */ }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

/* — - - - BASE STYLES HERE — - - -  */
html {
  font-size: 62.5%; }

body {
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: helvetica; }

.underline {
  border-bottom: 1px solid; }

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  /* — — — to hide image overflow on hove  - - - */ }

::-moz-selection {
  color: #000;
  background-color: rgba(255, 255, 255, 0.99); }

img::-moz-selection {
  color: #000;
  background-color: rgba(255, 255, 255, 0.7); }

::selection {
  color: #000;
  background-color: rgba(255, 255, 255, 0.99); }

img::selection {
  color: #000;
  background-color: rgba(255, 255, 255, 0.7); }

img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  vertical-align: middle; }

p {
  text-indent: 6rem; }

/* — - - - GLOBAL BLACK CHANGES  HERE — - - -  */
#wrapper {
  background: #000;
  color: #f0f0f0; }

/* — - - - VARIABLES ARE HERE — - - -  */
/* COOL CCOLOR MIXES HERE
$black: pink !global;
$white: blue !global;
*/
/* —  DODGY FONT DONT USE, RMEMEBR TO SWAP FOR LEGIT VERSION
@font-face {
	font-family: 'Univers56';
	src: url('../font/UniversBQ-Italic.eot');
	src: url('../font/UniversBQ-Italic.eot?#iefix') format('embedded-opentype'),
		url('../font/UniversBQ-Italic.woff') format('woff'),
		url('../font/UniversBQ-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
-  */
/* — - - - NAV STYLES HERE — - - -  */
header {
  display: flex;
  padding: 2rem 2rem 0 2rem;
  z-index: 100; }

#title {
  flex: 0  50%; }

nav {
  flex: 0  50%; }

nav ul {
  display: flex; }

nav li {
  flex: 1; }

.black {
  transition-delay: 0.2s;
  transition: 0.2s;
  color: #000; }

a:hover.upside {
  display: inline-block;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  unicode-bidi: bidi-override;
  direction: rtl; }

a:hover.backwards {
  display: inline-block;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg); }

a:hover.flip {
  unicode-bidi: bidi-override;
  direction: rtl; }

/* — - - - VARIABLES ARE HERE — - - -  */
/* COOL CCOLOR MIXES HERE
$black: pink !global;
$white: blue !global;
*/
/* —  DODGY FONT DONT USE, RMEMEBR TO SWAP FOR LEGIT VERSION
@font-face {
	font-family: 'Univers56';
	src: url('../font/UniversBQ-Italic.eot');
	src: url('../font/UniversBQ-Italic.eot?#iefix') format('embedded-opentype'),
		url('../font/UniversBQ-Italic.woff') format('woff'),
		url('../font/UniversBQ-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
-  */
/* — - - - INTRO AND DETAILS  LAYOUT FOR PROJECT PAGE COPY HERE — - - -  */
.projectDetails {
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
  margin-bottom: 10rem; }

.projectTitle {
  flex: 1;
  margin-bottom: 6rem;
  padding-left: 2rem;
  text-align: center; }

.projectAppendix {
  display: flex;
  flex-direction: row-reverse;
  margin: -6rem 2rem 10rem 2rem; }

.details {
  display: flex;
  flex-direction: row;
  flex: 0 50%; }

.details ul {
  flex: 2; }

.nextPrevious {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 2rem 6rem 2rem; }

.next, .previous {
  flex: 0 25%; }

/* — - - - VARIABLES ARE HERE — - - -  */
/* COOL CCOLOR MIXES HERE
$black: pink !global;
$white: blue !global;
*/
/* —  DODGY FONT DONT USE, RMEMEBR TO SWAP FOR LEGIT VERSION
@font-face {
	font-family: 'Univers56';
	src: url('../font/UniversBQ-Italic.eot');
	src: url('../font/UniversBQ-Italic.eot?#iefix') format('embedded-opentype'),
		url('../font/UniversBQ-Italic.woff') format('woff'),
		url('../font/UniversBQ-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
-  */
#bio {
  height: 100vh;
  width: calc(50vw + 3rem);
  position: fixed;
  z-index: 50;
  background: #f0f0f0;
  float: right;
  padding: 14.25rem 2rem 3rem 4rem;
  transition: 0.3s; }

.closed {
  right: calc(-50vw - 4em); }

.open {
  right: 0; }

.intro {
  margin-bottom: 6rem;
  padding-right: 2rem; }

.cv {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6rem;
  padding-right: 2rem; }

.title {
  flex: 1;
  margin-bottom: 4rem;
  min-width: 100px; }

.cv ul {
  display: flex;
  flex-direction: column;
  flex: 2;
  min-width: 300px; }

.cv li {
  flex: 1; }

.cv li:nth-child(even) {
  margin-bottom: 2rem; }

/* — - - - VARIABLES ARE HERE — - - -  */
/* COOL CCOLOR MIXES HERE
$black: pink !global;
$white: blue !global;
*/
/* —  DODGY FONT DONT USE, RMEMEBR TO SWAP FOR LEGIT VERSION
@font-face {
	font-family: 'Univers56';
	src: url('../font/UniversBQ-Italic.eot');
	src: url('../font/UniversBQ-Italic.eot?#iefix') format('embedded-opentype'),
		url('../font/UniversBQ-Italic.woff') format('woff'),
		url('../font/UniversBQ-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
-  */
/* — - - - INTRO STYLES FOR HOMEPAGE HERE — - - -  */
section {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-top: 10rem;
  margin-bottom: 10rem; }

.intro {
  flex: 1;
  margin-bottom: 6rem;
  padding-right: 2rem; }

/* — - - - PROJECTS STYLES HERE — - - -  */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 0 calc(25% - 6rem);
  text-align: center;
  margin: 0 2rem 2rem 2rem;
  /*padding: 3rem 1rem 3rem 1rem;*/
  min-width: 20rem;
  min-height: 17.5rem;
  position: relative; }

.projectImage {
  position: absolute;
  width: 40vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer; }

.projectImage img {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .15s ease-in-out;
  opacity: 0; }

/* — - - - PROJECTS HOVER STYLES HERE — - - -  */
.active:hover {
  cursor: pointer; }

.active:hover > .projectImage img:nth-child(1) {
  display: block;
  opacity: 1; }

.active:hover > .projectText, .project:hover {
  z-index: 10; }

/* — - - - PROJECTS IMAGES STYLES HERE — - - -
.project img {
  display: inline;
  position: absolute;
  width: 50vw;
  z-index: -1;
}

/* —
.project:hover > img {
  display: inline;
  cursor: pointer;
}

.project:hover {
  z-index: 1 !important;
}

 */
/* — - - - PROJECTS HOVER STYLES HERE — - - -  */
.projectText li {
  display: inline;
  font-style: italic; }

.dimmed {
  opacity: 0.2; }

/* — - - - VARIABLES ARE HERE — - - -  */
/* COOL CCOLOR MIXES HERE
$black: pink !global;
$white: blue !global;
*/
/* —  DODGY FONT DONT USE, RMEMEBR TO SWAP FOR LEGIT VERSION
@font-face {
	font-family: 'Univers56';
	src: url('../font/UniversBQ-Italic.eot');
	src: url('../font/UniversBQ-Italic.eot?#iefix') format('embedded-opentype'),
		url('../font/UniversBQ-Italic.woff') format('woff'),
		url('../font/UniversBQ-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
-  */
/* — - - - FILTER STYLES HERE — - - -  */
#filters {
  display: flex;
  flex-wrap: wrap;
  padding-right: 2rem; }

#sort {
  width: 32.5%; }

#filters ul {
  display: flex;
  flex-wrap: nowrap;
  flex: 2; }

#filters li:last-child {
  flex: 2; }

#filters li {
  flex: 1;
  min-width: 80px; }

#disiplineFilters {
  display: flex;
  flex-wrap: wrap;
  padding-right: 2rem;
  min-width: 200px; }

#disiplineFilters ul {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  margin: 1rem 0 0 32.5%; }

#disiplineFilters li {
  flex: 0;
  padding-right: 5px; }

.hide {
  opacity: 0;
  transform: translateY(-100%);
  transition: 0.3s;
  z-index: -1; }

.show {
  opacity: 1;
  transform: translateY(0%);
  z-index: 0; }

/* — - - - VARIABLES ARE HERE — - - -  */
/* COOL CCOLOR MIXES HERE
$black: pink !global;
$white: blue !global;
*/
/* —  DODGY FONT DONT USE, RMEMEBR TO SWAP FOR LEGIT VERSION
@font-face {
	font-family: 'Univers56';
	src: url('../font/UniversBQ-Italic.eot');
	src: url('../font/UniversBQ-Italic.eot?#iefix') format('embedded-opentype'),
		url('../font/UniversBQ-Italic.woff') format('woff'),
		url('../font/UniversBQ-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
-  */
/* — - - - IMAGE LAYOUT FOR PROJECT PAGE HERE — - - -  */
.image_layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 12rem; }

.full-image {
  flex: 0 0 100vw;
  width: 100vw;
  margin-bottom: 4rem; }

.full-image img,
.big-image img,
.left-image img,
.right-image img {
  width: 100%; }

.big-image {
  flex: 0 0 100%;
  padding: 0 2rem 0 2rem;
  margin-bottom: 2rem; }

.left-image,
.right-image {
  flex: 0 50%;
  min-width: 300px;
  margin-bottom: 2rem; }

.left-image {
  padding: 0 1rem 0 2rem; }

.right-image {
  padding: 0 2rem 0 1rem;
  margin-left: auto; }

/* — - - - VARIABLES ARE HERE — - - -  */
/* COOL CCOLOR MIXES HERE
$black: pink !global;
$white: blue !global;
*/
/* —  DODGY FONT DONT USE, RMEMEBR TO SWAP FOR LEGIT VERSION
@font-face {
	font-family: 'Univers56';
	src: url('../font/UniversBQ-Italic.eot');
	src: url('../font/UniversBQ-Italic.eot?#iefix') format('embedded-opentype'),
		url('../font/UniversBQ-Italic.woff') format('woff'),
		url('../font/UniversBQ-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
-  */
.relatedProjects {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 6rem 2rem;
  background: #f0f0f0;
  color: #000;
  overflow-x: auto; }

.relatedProjects h3 {
  flex: 1;
  margin-bottom: 4rem; }

.projectSlider {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.projectTile {
  flex: 1 0 25%;
  margin-left: 2rem; }

.projectTile:nth-of-type(1) {
  margin-left: 0rem; }

.projectThumb {
  margin-bottom: 2rem; }

/* — - - - VARIABLES ARE HERE — - - -  */
/* COOL CCOLOR MIXES HERE
$black: pink !global;
$white: blue !global;
*/
/* —  DODGY FONT DONT USE, RMEMEBR TO SWAP FOR LEGIT VERSION
@font-face {
	font-family: 'Univers56';
	src: url('../font/UniversBQ-Italic.eot');
	src: url('../font/UniversBQ-Italic.eot?#iefix') format('embedded-opentype'),
		url('../font/UniversBQ-Italic.woff') format('woff'),
		url('../font/UniversBQ-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
-  */
/* — - - - FOOTER STYLES HERE — - - -  */
footer {
  display: flex;
  flex: 1;
  align-items: flex-end;
  padding: 16rem 2rem 2rem 2rem; }

#footerContact {
  flex-basis: 50%;
  margin-left: auto; }
