@charset "UTF-8";
/* — - - - VARIABLES ARE HERE — - - -  */
/* NORMAL
$primary-color: rgb(25, 25, 25);
$secondary-color: rgb(240, 240, 240);
*/
/* INVERSE
$primary-color: rgb(240, 240, 240);
$secondary-color: rgb(25, 25, 25);
*/
/* PINK & BLUE
$primary-color: Pink;
$secondary-color: MidnightBlue;
*/
/* PINK & BLUE INVERSE
$primary-color: MidnightBlue;
$secondary-color: Pink;
*/
/* YELLOWORANGE & BLUE
$primary-color: Orange;
$secondary-color: MidnightBlue;
*/
/* TOMATO AND WHITE
$primary-color: White;
$secondary-color: Tomato;
*/
/* UBANK
$primary-color: #008228;
$secondary-color: White;
*/
/* MATTER
$primary-color: rgb(0, 0, 145);
$secondary-color: White;
*/
/* — - - - INTRO STYLES FOR HOMEPAGE HERE — - - -  */
section {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-top: 10rem;
  margin-bottom: 10rem; }

.intro {
  flex: 1;
  margin-bottom: 6rem;
  padding-right: 4rem; }

/* — - - - PROJECTS STYLES HERE — - - -  */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative; }

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 0 calc(25% - 8rem);
  text-align: center;
  margin: 0 4rem 2rem 4rem;
  /*padding: 3rem 1rem 3rem 1rem;*/
  min-width: 20rem;
  min-height: 17.5rem;
  position: relative;
  transition: opacity .2s ease-in-out; }

.projectImage {
  position: absolute;
  width: 40vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: -10; }

.projectImage img {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .15s ease-in-out;
  opacity: 0; }

.projectText li {
  display: inline;
  font-style: italic; }

/* — - - - PROJECTS HOVER STYLES HERE — - - -  */
.active:hover {
  cursor: pointer; }

li.image_holder {
  position: absolute;
  width: 40vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: -10; }

li.image_holder img {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .15s ease-in-out;
  opacity: 0; }

.projectText li:hover + li.image_holder img {
  visibility: visible;
  opacity: 1; }

.project.dimmed .projectText li:hover + li.image_holder img {
  display: none;
  opacity: 0; }

/*.active:hover > .projectImage img:nth-child(1) {
  visibility: visible;
  opacity: 1;
}*/
.projectText:hover + .projectImage img {
  opacity: 1; }

.active > .projectText, .project:hover {
  z-index: 1; }

.dimmed:hover {
  cursor: default; }

.dimmed a:hover {
  cursor: default;
  border: none; }

.dimmed:hover > .projectImage img:nth-child(1) {
  display: none;
  cursor: default; }

.dimmed {
  opacity: 0.1; }

.dimmed img {
  display: none;
  visibility: hidden; }
