@charset "UTF-8";
/* — - - - BASE STYLES HERE — - - -  */
html {
  font-size: 62.5%; }

body {
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: helvetica; }

.selected {
  border-bottom: 1px solid; }

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

::-moz-selection {
  background: #ff0078; }

::selection {
  background: #ff0078; }
