 /* — - - - BASE STYLES HERE — - - -  */

html {
    font-size: 62.5%;
}

body {
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: "Univers55",  helvetica;
  background: $primary-color;
  color: $secondary-color;
}

@font-face {
	font-family: 'Univers55';
	src: url('../font/UniversLTStd.eot');
	src: url('../font/UniversLTStd?#iefix') format('embedded-opentype'),
		url('../font/UniversLTStd.woff') format('woff'),
		url('../font/UniversLTStd.ttf') format('truetype');
	font-weight: normal;
	font-style: none;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;  /* — — — to hide image overflow on hover  - - - */
}

.underline {
  border-bottom: 1px solid;
}

::-moz-selection {
  color: #000;
  background-color: rgba(255,255,255,.99);
}
img::-moz-selection {
  color: #000;
  background-color: rgba(255,255,255,.7);
}

::selection {
  color: #000;
  background-color: rgba(255,255,255,.99);
}

img::selection {
  color: #000;
  background-color: rgba(255,255,255,.7);
}

/* -img {
  filter: grayscale(100%);
} - */

p {
  text-indent: 6rem;
}
