/* — - - - VARIABLES ARE HERE — - - -  */

$black: #000 !global;
$white: rgb(240, 240, 240) !global;
$transiton-speed: 0.3s;
$spacer: 2rem;
$page-spacer: 4rem;


/* COOL CCOLOR MIXES HERE
$black: pink !global;
$white: blue !global;
*/

/* —  DODGY FONT DONT USE, RMEMEBR TO SWAP FOR LEGIT VERSION
@font-face {
	font-family: 'Univers56';
	src: url('../font/UniversBQ-Italic.eot');
	src: url('../font/UniversBQ-Italic.eot?#iefix') format('embedded-opentype'),
		url('../font/UniversBQ-Italic.woff') format('woff'),
		url('../font/UniversBQ-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
-  */
