@import '_variables';

/* — - - - FOOTER STYLES HERE — - - -  */
footer {
  display: flex;
  flex: 1;
  align-items: flex-end;
  padding: 16rem $page-spacer $page-spacer $page-spacer;
  background: $primary-color;
}


#footerContact {
  flex-basis: 50%;
  margin-left: auto;
}
