@import '_variables';

/* — - - - IMAGE LAYOUT FOR PROJECT PAGE HERE — - - -  */

.image_layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 12rem;
}

.full-image {
  flex: 0 0 100vw;
  width: 100vw;
  margin-bottom: 4rem;
}

.full-image img,
.big-image img,
.left-image img,
.right-image img {
  width: 100%
}

.big-image {
  flex: 0 0 100%;
  padding: 0 $page-spacer 0 $page-spacer;
  margin-bottom: $spacer;
}

.left-image,
.right-image  {
  flex: 0 calc(50% - 5rem);
  min-width: 300px;
  margin-bottom: $spacer;
}

.left-image {
  margin: 0 1rem $spacer $page-spacer;
}

.right-image {
  margin: 0 $page-spacer $spacer 1rem;
  margin-left: auto;
}

/* — - - - DIGITAL IMAGES WITH DROP SHADOW STYLING — - - -  */

.digital-image {
  background: rgb(200, 200, 200);
  padding: 5%;
}

.digital-image img{
  box-shadow: 0px 5px 50px -10px rgba(0,0,0,0.5);
}


/* — - - - SIDE DISCIPLINES NAV — - - -  */

.sideDisciplines {
  position: fixed;
  right: -220px; /* –– 1/2 width -some space on the side -  */
  top: 50vh;
  height: 20px;
  width: 400px;
  text-align: center;
  font-style: italic;

  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transition: .2s ease-in-out;
}

.sideDisciplines li {
  display: inline-block;
}

.disciplines li:hover {
  border-bottom: 1px solid $secondary-color;
  cursor: pointer;
}

.appear {
  right: -160px
}
